@model List<HelloMVC.Models.Car>
@{
    ViewBag.Title = "Index";
}

<h1>@ViewBag.RhysCreatedThisValue</h1>
<h2>Rhys changed this</h2>
<p>Hello again!</p>

@foreach (var car in Model)
{
    <p>@car.Id - @car.Make - @car.Model</p>
}

